# NOTE: docker is not functional yet!
version: "3.8"

services:
  app:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"


  database:
    image: mysql:8.0
    env_file:
      - .env
    ports:
      - "3306:3306"

